*{
    list-style: none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
}
button{
    background-color: rgb(228, 155, 10);
    margin: 5px 10px;
    padding: 5px 30px;
    color: aliceblue;
    border: 2px solid black;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.item2{
    background-image: url(assets/imagenes/fondo1.png);
    background-size: cover ;
    background-position: center center;
    width: 1150px;
    height: 630px;
    color: white;
    background-repeat: no-repeat;
    font-size: 20px;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding: 50px 200px;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    width: 1500px;
    height: 100px;
    justify-self: center;
    justify-content: center;
}
.grid-container3{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    margin: 10px 150px 50px;
    column-gap: auto;
    color: aliceblue;
}
.subsubitem2{
    grid-column-start:2 ;
    grid-column-end: 4;
}
footer{
    background-color: rgb(82, 82, 82);
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 55px;
}

.item3{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1150px;
    height: 630px;
    color: white;
    padding: 50px 200px ;
    font-size: 20px;
    justify-content: center;
    justify-self: center;
    text-align: center;
}
.item4{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1150px;
    height: 630px;
    color: white;
    padding: 50px 200px ;
    font-size: 20px;
    justify-content: center;
    justify-self: center;
    text-align: center;
    
}
.item6{
    background-color: rgb(255, 136, 0);
    text-align: center;
}
.item5{
    background-color: rgb(189, 189, 189);
    text-align: center;
}
.subitem{
    border: 2px solid black;
    background-color: rgb(242, 188, 87);
    justify-content: center;
    justify-self: center;
}
.iconos{
    width:30px;
    height:30px;
    display: grid;
    grid-template-columns: autO auto auto;
    column-gap: 20px;
}

.iconos{
    color: black;
    width: 20px;
    height: 20px;
}

.flex-container{ 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
} 
.flex-container > div { 
    margin: auto; 
    text-align: left; 
    line-height: auto ; 
    font-size: auto; 
    } 
h2{
    text-align: center;

}

.menu{
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .navbar ul li{
    position: relative;
    float: right;
}
.menu .navbar ul li a{
    font-size: 12px;
    padding: 20px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;
    float: right;
}
.menu .navbar ul li a:hover{
    color:white;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.subsubitem2 a{
    text-decoration: none;
    color: rgb(1, 153, 42);
}
@media(max-width: 991px){
    .content{
        min-height: 70px;
    }
    .menu{
        top: 0;
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: orange;
        display: none;
        width: 100%;
    }
    .menu .navbar .ul .li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .item1{
        padding: 0 100px;
    }
    }

